[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/newbee1905/nvim
[submodule "dwm/.config/dwm"]
	path = dwm/.config/dwm
	url = https://github.com/newbee1905/dwm-config
